# Git
.git
.github
.gitignore
.gitmodules
**/*.orig
**/*.md

# Docker
docker-compose.yml
docker-compose.yml.in
.docker

# Python
**/*.pyc
**/__pycache__

# Files not used within docker
tests
Makefile
.venv
.isort.cfg
.pylintrc
.style.yapf
.validaterc
.timestamps
.dockerignore
Dockerfile
service_launcher.py
lib-makefiles/*
buildspec.yml
logs
nose2-junit.xml
