[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "~=6.0"
gevent = "~=25.0"
gunicorn = "~=20.1"
Flask = "~=2.0"
logging-utilities = "~=1.2"
python-dotenv = "~=0.19"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
shellcheck-py = "*"

[requires]
python_version = "3.13"
