[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
gevent = "*"
gunicorn = "*"
Flask = "*"
logging-utilities = "*"
python-dotenv = "*"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
shellcheck-py = "*"

[requires]
python_version = "3.9"
